/* this is a more comprehensive style reset */
@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

body {
  background-color: rgb(211, 150, 89);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  font-family: "Exo 2", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  height: 100%;
}

h1 {
  grid-row: 1;
  font-family: "Lobster", sans-serif;
  justify-self: center;
  font-size: 10vh;
  margin: 0;
  color: rgb(66, 39, 12);
  text-shadow: 5px 10px rgb(219, 139, 48);
}

h2 {
  font-family: "Lobster", sans-serif;
  font-size: 2rem;
  color: rgb(236, 168, 90);
  background: radial-gradient(
    circle,
    rgba(60, 32, 18, 0.8) 40%,
    rgba(108, 107, 106, 0.4) 80%
  );
  display: inline-block;
  padding: 5px 15px;
  border-radius: 5px;
  justify-self: center;
}

.upgradeDiv {
  padding: 10px;
  border: 2px solid rgb(66, 39, 12);
  font-family: "Exo 2", sans-serif;
  font-weight: 600;
  font-size: 0.8rem;
  color: rgb(66, 39, 12);
  background-color: rgb(211, 150, 89);
  border-radius: 10px;
}

.upgradeDiv:hover {
  cursor: pointer;
  background-color: rgb(130, 92, 54);
  box-shadow: 0 0 4px rgba(248, 133, 1, 0.8), 0 0 10px rgba(198, 124, 20, 0.6);
}

#snailImg {
  background-color: rgb(211, 150, 89);
  border: none;
}

.snailText {
  font-weight: 600;
  justify-self: center;
  color: rgb(66, 39, 12);
}

.purchased-upgrade {
  border-block-start: 4px solid;
  border-image-source: url("images/bark.jpg");
  border-image-slice: 100 52 78 30;
}

.snailContainer {
  grid-column: 1;
  justify-self: center;
  align-self: center;
}

#upgrade-container {
  font-weight: 600;
  font-size: 1.5rem;
  color: rgb(66, 39, 12);
  height: 100vh;
  grid-column: 2;
  display: grid;
  grid-template-rows: auto;
  gap: 5px;
  border: 10px solid;
  padding: 2px;
  border-image-source: url("images/bark.jpg");
  border-image-slice: 100 52 78 30;
  background-color: rgb(211, 150, 89);
}
#upgrade-container p {
  padding-left: 2vw;
}
#shop-container {
  height: 100vh;
  grid-column: 3;
  display: grid;
  grid-template-rows: auto;
  gap: 5px;
  border: 10px solid;
  padding: 2px;
  border-image-source: url("images/bark.jpg");
  border-image-slice: 90 40 78 30 fill;
}
