/* this is a more comprehensive style reset */
@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

body {
  background-color: peru;
}

.upgradeDiv {
  padding: 10px;
  border: 2px solid black;
  width: fit-content;
}

.upgradeDiv:hover {
  cursor: pointer;
}
