/* this is a more comprehensive style reset */
@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

body {
  background-color: rgb(211, 150, 89);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  font-family: "Exo 2", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  height: 100vh;
}

#upgrade-container,
#snailContainer,
#shop-container {
  height: 100%;
}

#upgrade-container,
#shop-container {
  overflow-y: auto;
}

h1 {
  font-family: "Lobster", sans-serif;
  justify-self: center;
  font-size: 10vh;
  margin: 0;
  color: rgb(66, 39, 12);
  text-shadow: 5px 10px rgb(173, 98, 13);
  text-wrap: nowrap;
}

h2 {
  font-family: "Lobster", sans-serif;
  font-size: 6vh;
  color: rgb(66, 39, 12);
  display: inline-block;
  border-radius: 5px;
  justify-self: center;
  margin: 0;
}

.upgradeDiv {
  border: none;
  border-block-start: 4px solid;
  border-image-source: url("images/bark.jpg");
  border-image-slice: 100 52 78 30;
  font-family: "Exo 2", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  color: rgb(66, 39, 12);
  background-color: rgb(211, 150, 89);
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 15px;
  padding-bottom: 15px;
}

.upgradeTitle {
  grid-column: 1;
  align-self: center;
}

.upgradeCost {
  grid-column: 2;
  align-self: center;
}

.upgradeIncrease {
  grid-column: 3;
  align-self: center;
}

.upgradeDiv:hover {
  cursor: pointer;
  background-color: rgb(130, 92, 54);
  box-shadow: 0 0 4px rgba(248, 133, 1, 0.8), 0 0 10px rgba(198, 124, 20, 0.6);
}

#snailImg {
  background-color: rgb(211, 150, 89);
  border: none;
  padding-top: 10vh;
}

#snailImg:hover {
  cursor: pointer;
}

#snailImg:active {
  animation: press 100ms;
}

@keyframes press {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
    bottom: 0;
  }
}

.snailText {
  font-weight: 600;
  justify-self: center;
  color: rgb(66, 39, 12);
}

.purchased-upgrade {
  border-block-start: 4px solid;
  border-image-source: url("images/bark.jpg");
  border-image-slice: 100 52 78 30;
}

.snailContainer {
  grid-column: 2;
  justify-self: center;
  align-self: center;
}

#upgrade-container {
  font-weight: 600;
  font-size: 1.5rem;
  color: rgb(66, 39, 12);
  height: 100vh;
  grid-column: 1;
  display: grid;
  grid-template-rows: auto;
  gap: 5px;
  padding: 2px;
  border: 10px solid;
  border-image-source: url("images/bark.jpg");
  border-image-slice: 100 52 78 30;
  background-color: rgb(211, 150, 89);
}
#upgrade-container p {
  padding-left: 2vw;
  padding-top: 0.5vh;
}
#shop-container {
  height: 100vh;
  grid-column: 3;
  display: grid;
  grid-template-rows: auto;
  border: 10px solid;
  padding: 2px;
  border-image-source: url("images/bark.jpg");
  border-image-slice: 90 40 78 30;
}
